/* General styles */
.modal {
    position: fixed;
    /* assuming mobile first */
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 12px 12px 0 0;
    outline: none;
    z-index: 1000;
    height: 568px;
    overflow: hidden;
}

.modal.desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    border-radius: 12px;
    height: 568px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.header {
    display: flex;
    align-items: baseline;
    padding: 10px;
    border-bottom: 1px solid #00000033;
}

.button {
    background: none;
    border: none;
}

.content {
    /* Add content styles here if needed */
}

.image {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.content .info {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.content .info-item {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2.modal-title {
    margin: 0;
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px; 
}

p.info {
    margin: '5px 0';
    font-size: '12px';
}

.modalScrolldiv {
    height: 398px;
    overflow-y: scroll;
    text-align: justify;
}

px .ingredients-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.ingredient-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.button-common {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.get-ingredients-button {
    background: #007bff;
    margin: 20px;
}

.full-recipe-button {
    background: #007bff;
    margin: 20px;
}

body.modal-open {
    overflow: hidden;
}
@media (min-width: 768px) {
    
  .info-tem {
    margin: 16px;
    padding: 0;
  }
}