.search-container {
  position: relative;
  padding: 10px 16px 10px 8px;
}

.search-input {
  width: 100%;
  padding: 13px 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 18px;
  border-radius: 50px;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 10px center;
  box-sizing: border-box;
}

.search-input:focus {
  border: 1px solid #007bff;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 16px;
  color: #ccc;
}

.close-icon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ccc;
  cursor: pointer;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f0f4f8;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
  background: white;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.suggestions-list li a {
  text-decoration: none;
  color: #007bff;
}

.suggestions-list li a:hover {
  text-decoration: underline;
}